<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>신고페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .active .page-link {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>

<header class="bg-light py-2">
    <div class="container d-flex justify-content-between align-items-center">
        <h6 th:text="${logoText}">momo</h6>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark">회원관리</button>
            <button type="button" class="btn btn-light">게시판관리</button>
            <button type="button" class="btn btn-danger" onclick="location.href='/admin/manage-report'">신고관리</button>
        </div>
    </div>
</header>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex flex-column align-items-center">
        <a class="navbar-brand">신고된 회원 관리</a>
        <form class="d-flex" th:action="@{/admin/manage-report}" method="get">
            <input class="form-control me-2" type="search" placeholder="검색" aria-label="Search" name="query"
                   th:value="${query}">
            <button class="btn btn-outline-success" type="submit">검색</button>
        </form>
    </div>
</nav>
<!-- 신고 내역 양식 -->
<table class="container">
    <thead>
    <tr>
        <th>번호</th>
        <th>신고자</th>
        <th>피신고자</th>
        <th>피신고자 닉네임</th>
        <th>죄목</th>
        <th>날짜</th>
        <th>상태</th>
        <th>제제</th>
        <th>지우기</th>
    </tr>
    </thead>
    <!-- 신고 내역 양식 끝 -->
    <tbody id="reportTableBody">
<!-- DB 에서 가져온 신고내역 -->
    <tr th:each="report : ${reportDTO}">
        <td th:text="${report.reportNo}"></td>
        <td th:text="${report.reporterNo.getUserId()}"></td>    
        <td th:text="${report.reportedNo.getUserId()}"></td>
        <td> <a th:href="@{/user/profile/dumyprofile/{userId}(userId=${report.reportedNo.userId})}"
                th:text="${report.reportedNo.getUserNickname()}"></a></td>
        <td th:text="${report.reportCategory}"></td>
        <td th:text="${#dates.format(report.reportDate, 'yyyy-MM-dd HH시 mm분')}"></td>
        <td>
        <span th:switch="${report.reportedNo.getUserState}">
        <span th:case="'0'">정상</span>
        <span th:case="'1'">정지</span>
        <span th:case="*">알 수 없음</span>
        </span>
        </td>
        <!-- DB 에서 가져온 신고내역 끝 -->
        <!-- 버튼 -->
        <td th:if="${report.reportedNo.getUserState} == '0'">
            <div>
                <form th:action="@{/admin/deactivate-user}" method="post">
                    <input type="hidden" name="reportNo" th:value="${report.reportNo}">
                    <input type="hidden" name="currentPage" th:value="${page}">
                    <input type="hidden" name="query" th:value="${query}">
                    <button class="btn btn-danger" type="submit" th:onclick="ban()">유저정지</button>
                </form>
            </div>
        </td>
        <td th:if="${report.reportedNo.getUserState} == '1'">
            <div>
                <form th:action="@{/admin/reactivate-user}" method="post">
                    <input type="hidden" name="reportNo" th:value="${report.reportNo}">
                    <input type="hidden" name="currentPage" th:value="${page}">
                    <input type="hidden" name="query" th:value="${query}">
                    <button class="btn btn-danger" type="submit" th:onclick="free()">정지해제</button>
                </form>
            </div>
        </td>
        <td>
            <div>
            <form th:action="@{/admin/delete-report}" method="post">
                <input type="hidden" name="reportNo" th:value="${report.reportNo}">
                <input type="hidden" name="currentPage" th:value="${page}">
                <input type="hidden" name="query" th:value="${query}">
                <div th:switch="${report.reportedNo.getUserState}">
                    <button class="btn btn-danger" type="submit" th:onclick ="deleting()">삭제</button>
                </div>
            </form>
            </div>
        </td>
        <!-- 버튼 끝 -->
    </tr>
    <tr th:if="${#lists.isEmpty(reportDTO)}">
        <td colspan="9" class="text-center">신고 내역이 없습니다</td>
    </tr>
    </tbody>
</table>
<!-- 페이지 -->
<div class="d-flex justify-content-center" th:if="${lastPage > 1}">
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${startPage > 1} ? '' : 'disabled'">
                <a class="page-link"
                   th:href="@{/admin/manage-report(page=${startPage - 1}, query=${query})}">&laquo;</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${i == page} ? 'active'">
                <a class="page-link" th:href="@{/admin/manage-report(page=${i}, query=${query})}" th:text="${i}"></a>
            </li>
            <li class="page-item" th:classappend="${endPage < lastPage} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/admin/manage-report(page=${endPage + 1}, query=${query})}">&raquo;</a>
            </li>
        </ul>
    </nav>
</div>
<!-- 페이지 끝-->

<script>
    // <!-- 버튼 메세지 -->
    function ban() {
        alert('회원이 제제됐습니다.');
    }

    function free() {
        alert('회원의 제제가 해제됐습니다.');
    }

    function deleting() {
        alert('삭제 됐습니다.');
    }
    <!-- 버튼 알림 메세지 끝 -->
</script>
</body>
</html>