<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모모 아이디 찾기</title>
    <style>
        .result {
            font-weight: bold;
            color: #007bff; /* 파란색으로 강조 */
        }
        .error {
            color: #dc3545; /* 빨간색으로 오류 강조 */
            font-weight: bold;
        }
        .btn-link {
            text-decoration: none;
            color: #007bff;
        }
        .btn-return {
            text-decoration: none;
            color: #6c757d;
        }
    </style>
</head>
<body>
<h1>아이디 찾기</h1>

<!-- 아이디 찾기 폼 -->
<form action="/user/find/id" method="post" th:object="${findUserIdRequest}">
    <div>
        <label for="findUserEmail">이메일:</label>
        <input type="email" id="findUserEmail" name="findUserEmail" th:field="*{findUserEmail}" required />
    </div>
    <button type="submit">아이디 찾기</button>
</form>

<!-- 아이디 찾기 결과 -->
<div th:if="${userId}">
    <p class="result">Your User ID is: <span th:text="${userId}"></span></p>
</div>
<div th:if="${errorMessageUserId}">
    <p class="error" th:text="${errorMessageUserId}"></p>
</div>

<!-- 비밀번호 찾기 바로가기 -->
<a href="/user/find/pw" class="btn-link ms-2">비밀번호 찾기</a>

<a href="/user/login" class="btn btn-return">로그인 화면으로</a>

</body>
</html>

