<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 및 비밀번호 찾기</title>
</head>
<body>
<h2>아이디 찾기</h2>
<form action="/find/userid" method="post" th:object="${findUserIdRequest}">
    <label for="findUserEmail">이메일:</label><br>
    <input type="email" id="findUserEmail" name="findUserEmail" th:field="*{findUserEmail}" required><br><br>
<!--    <span th:if="${errorMessageUserId}" th:text="${errorMessageUserId}" style="color: red"></span><br>-->
    <span th:if="${userId}" th:text="'찾은 아이디: ' + ${userId}"></span><br><br>
    <button type="submit">아이디 찾기</button>
</form>

<h2>비밀번호 찾기</h2>
<form action="/find/password" method="post" th:object="${findPasswordRequest}">
    <label for="findPasswordEmail">이메일:</label><br>
    <input type="email" id="findPasswordEmail" name="findPasswordEmail" th:field="*{findPasswordEmail}" required><br><br>
    <span th:if="${errorMessage}" th:text="${errorMessage}" style="color: red"></span><br>
    <span th:if="${resetPasswordMessage}" th:text="${resetPasswordMessage}" style="color: green"></span><br><br>
    <button type="submit">비밀번호 찾기</button>
</form>
</body>
</html>