<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>

<!--sample template 참고용-->
<a th:href="@{/hello}">Go to Hello</a>
<a th:href="@{/hello(name='testname', age=15)}">Go to Hello</a> <!--파라미터 처리 추가됨-->



<!--429p 참고-->
<div>
    <h3>sample layout header</h3>
</div>

<div layout:fragment="content">
    <p>page content</p>
</div>

<th:block layout:fragment="script">

</th:block>

</body>
</html>