<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/layout.html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>News Read</title>

    <!--DY-->
    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-color: #f8f9fa;
            font-family: 'CookieRun', sans-serif;
        }
        .navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .navbar-brand {
            margin-bottom: 10px;
        }

        .search-form {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .search-form input {
            width: 300px;
        }
    </style>
    <!---->

</head>
<body>
<!--bootstrap import 2-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


<!--DY-->


<nav class="navbar bg-body-tertiary"> <!--검색창 부분-->
    <div class="container-fluid d-flex flex-column align-items-center">
        <a class="navbar-brand">공지사항</a>
        <form class="d-flex search-form" role="search">
            <i class="bi bi-search" style="position: absolute; margin-top: 10px; margin-left: 10px;"></i>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                   style="padding-left: 30px;">
            <button class="btn btn-outline-success" type="submit">검색하기</button>
        </form>
    </div>
</nav>
<!--YY-->
<!--<form id="newsForm" method="post"></form>-->
<th:block layout:fragment="content">
<form id="newsForm" name="newsForm" action="/news/update" method="post">
    <ul class="nav justify-content-center">
        <input type="hidden" name="newsNo" th:value="${news.newsNo}">
        <li class="nav-item input-group">
            <span class="input-group-text">공지사항 태그</span>
            <input type="text" name="newsTag" class="form-control" th:value="${news.newsTag}">
        </li>
        <li class="nav-item input-group">
            <span class="input-group-text">공지사항 제목</span>
            <input type="text" name="newsTitle" class="form-control" th:value="${news.newsTitle}">
        </li>

        <li class="nav-item input-group">
            <span class="input-group-text">공지사항 작성일</span>
            <input type="date" class="form-control"
                   th:placeholder="${#dates.format(news.newsCreateDate, 'yyyy-MM-dd HH:mm')}"
                   >
            <input type="hidden"  value="${news.newsCreateDate}">
        </li>
<!--        <li class="nav-item input-group mb-3">-->
<!--            <span class="input-group-text">공지사항 수정일</span>-->
<!--            <input type="text" name="newsModifyDate" class="form-control"-->
<!--                   th:placeholder="${#dates.format(news.newsModifyDate, 'yyyy-MM-dd HH:mm')}"-->
<!--                   readonly>-->
<!--            <input type="hidden"  value="${news.newsModifyDate}">-->

<!--        </li>-->
    </ul>
</form>

    <div class="container">
        <div class="input-group mb-6">
            <textarea class="form-control" id="newsContent" name="newsContent" rows="10"
                      th:text="${news.newsContent}"
                      th:readonly="${!#authorization.expression('hasRole(''ADMIN'')')}">
            <!-- 만약 admin 아니면 readonly -->
            </textarea>
        </div>
        <!--YY-->
        <div class="d-grid gap-4 col-2 mx-auto">
            <button sec:authorize="hasRole('ADMIN')" class="btn btn-primary" type="submit" >등록/수정</button>
            <!--onclick="submitNewsForm('/news/create')"-->
            <!--        <button class="btn btn-primary" type="button">돌아가기</button>-->
            <div> </div>
            <button class="btn btn-primary" type="button" th:onclick="|location.href='/news/main/'|">돌아가기</button>

        </div>
    </div>

<script>
    /*newsForm 제출*/
    function submitNewsForm(action){
        console.log("js-------------submitNewsForm start")
        const form = document.getElementById('newsForm');
        form.action = action;
        form.submit();
        console.log("js-------------submitNewsForm end")
    }
</script>
<!--<script>
    // 오늘 날짜를 YYYY-MM-DD 형식으로 포맷팅하는 함수
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    // 현재 날짜를 포맷팅하여 placeholder에 설정
    document.getElementById('newsCreateDate').placeholder = formatDate(new Date());
</script>-->
<!--
    기본 양식 <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
-->
<!--
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <input type="text" class="nav-link disabled" th:placeholder="${news.newsTag}">
        </li>
        <li class="nav-item">
            <div class="nav-link disabled" th:text="${news.newsTitle}"></div>
            &lt;!&ndash;        <a class="nav-link disabled" aria-disabled="true">4월 28일 오후 서비스 공지</a>&ndash;&gt;
        </li>
        <li class="nav-item">
            <div class="nav-link disabled"
                 th:text="${news.newsModifyDate != null} ? ${#dates.format(news.newsModifyDate, 'yyyy-MM-dd HH:mm')} : ${#dates.format(news.newsCreateDate, 'yyyy-MM-dd HH:mm')}">
            </div>
            &lt;!&ndash;        <a class="nav-link disabled" aria-disabled="true">작성일:2024-07-07</a>&ndash;&gt;
        </li>

    </ul>
-->

</body>

</html>

<!---->