<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 작성</title>
</head>
<body>
<!--<h1>후기글 작성하기 (Article No: <span th:text="${articleNo}"></span>)</h1>-->
<form id="createForm" action="/article/create-article" method="post">
    <label for="title">제목:</label>
    <input type="text" id="title" name="articleTitle" required><br><br>
    <label for="content">내용:</label>
    <textarea id="content" name="articleContent" required></textarea><br><br>

    <button type="submit">작성</button>
</form>

<script>
    function createArticle(event) {
        event.preventDefault(); // 폼 제출 방지

        // 폼에서 입력된 값 가져오기
        const title = document.getElementById('title').value;
        const content = document.getElementById('content').value;
        const articleNo = document.getElementById('articleNo').textContent;

        // fetch 요청 보내기
        fetch(`/article/create-article`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ title: title, content: content, id: articleNo })
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('네트워크 응답이 정상이 아닙니다.');
                }
            })
            .then(data => {
                alert('글이 작성되었습니다.');
                document.getElementById('createForm').reset();
            })
            .catch(error => {
                console.error('Error:', error);
                alert('글 작성 중 오류가 발생했습니다.');
            });
    }
</script>
</body>
</html>
