<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <div class="container" style="width: 850px">
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" th:onclick="|location.href='@{/club/main/{clubNo}(clubNo =${clubNo})}'|">모임 홈</button>
            </div>
        </div>
        <div class="row">
            <h1 th:text="${articleDTO.articleTitle}">제목</h1>
            <div class="member-container">
                <img src="/assets/프로필.png" alt="회원 프로필 사진" class="profile-image">
                <div class="member-info">
                    <h5 th:text="${articleDTO.userNo.userNickname}"></h5>
                    <p th:text="${articleDTO.userNo.userAddress}"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <textarea th:text="${articleDTO.articleContent}" style="width: 100%; height: 400px; resize: none; border: none;"
                      class="form-control" id="content" readonly></textarea>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4" th:if="${articleDTO.userNo.userId} == ${#authentication.name}">
                <button type="button" th:onclick="|location.href='@{/article/update/{articleNo}(articleNo=${articleDTO.articleNo})}'|">수정</button>
                <button type="button" onclick="confirmDelete()">삭제</button>
            </div>
        </div>
        <br>
        <div class="row"> <!-- 댓글 입력창 부분 -->

            <form id="articleReplyForm" action="/reply/create" method="post">
                <div>
                    <label for="replyContent">Reply Content:</label>
                    <textarea id="replyContent" name="replyContent" required></textarea>
                </div>
                <div>
                    <button class="btn btn-outline-primary" type="submit">댓글 등록</button>
                </div>
                <input type="hidden" name="articleNo.articleNo" th:value="${articleDTO.articleNo}">
            </form>

        </div>
        <div class="row"> <!-- 댓글 표시 부분 -->
            <div class="reply" th:each="reply : ${replyList}">
                <hr>
                <span th:text="${reply.getReplyContent()}"></span>
                <span th:text="'작성일 : ' + ${#dates.format(reply.getReplyCreateDate(), 'yy-MM-dd HH:mm')}"></span>
                <span th:text="'좋아요 수 : ' + ${reply.getReplyLikeNumber()}"></span>
                <span>작성자필요<!--TODO--></span>
                <!-- <button class="btn btn-outline-success modifyBtn">수정하기</button> -->
                <form id="replyDeleteForm" action="/reply/delete" method="post">
                    <input type="hidden" name="replyNo" th:value="${reply.getReplyNo()}"/>
                    <button type="submit" class="btn btn-outline-danger deleteBtn">삭제하기</button>
                </form>
            </div>

        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function confirmDelete() {
            if (confirm("정말 삭제하시겠습니까?")) {
                location.href = /*[[@{/article/delete/{articleNo}(articleNo=${articleDTO.articleNo})}]]*/ '';
            }
        }
    </script>
</th:block>