
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원정보 수정</title>
</head>
<body>
<h1>회원정보 수정</h1>

<form action="/user/editProfile" method="post">
  <!-- 회원정보 수정 폼 필드 -->

  <div>
    <label for="userNickname">닉네임</label>
    <input type="text" id="userNickname" name="userNickname" value="현재 닉네임" required>
  </div>
  <div>
    <label for="userEmail">이메일</label>
    <input type="email" id="userEmail" name="userEmail" value="현재 이메일" required>
  </div>
  <div>
    <label for="userCategory">관심사</label>
    <input type="text" id="userCategory" name="userCategory" value="현재 관심사" required>
  </div>
  <div>
    <label for="userAddress">주소</label>
    <input type="text" id="userAddress" name="userAddress" value="현재 주소" required>
  </div>
  <div>
    <label for="userMbti">MBTI</label>
    <input type="text" id="userMbti" name="userMbti" value="나의 MBTI" required>
  </div>

  <div class="mt-4">
    <div class="float-end">
      <button type="submit" class="btn btn-primary">저장</button>
      <button type="reset" class="btn btn-secondary">취소</button>
    </div>
  </div>
</form>
</body>
</html>