<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
    <script type="text/javascript">
        // 카카오 주소 API 초기화
        Kakao.init('26cd30a42ec3ae950f6d7b677a47562c'); // 발급받은 카카오 API 키로 교체

        function searchAddress() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var fullAddr = data.address; // 최종 주소 변수
                    document.getElementById('userAddress').value = fullAddr;
                }
            }).open();
        }
    </script>
</head>
<body>


<form id="updateForm" th:action="@{/user/update}" method="post">
    <input type="text" name="userId" th:value="${userDTO.userId}" hidden aria-label="User ID">
    <div>
        <label for="userNickname">닉네임</label>
        <input type="text" id="userNickname" name="userNickname" th:value="${userDTO.userNickname}" required>
    </div>

    <!-- 성별 -->
    <div class="input-group mb-3">
        <span class="input-group-text">성별</span>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userGender" id="male" value="m" required>
            <label class="form-check-label" for="male">남성</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userGender" id="female" value="w" required>
            <label class="form-check-label" for="female">여성</label>
        </div>
    </div>


    <div>
        <label for="userEmail">이메일</label>
        <input type="email" id="userEmail" name="userEmail" th:value="${userDTO.userEmail}" required>
    </div>

    <div>
        <label for="userCategory">관심사</label>
        <input type="text" id="userCategory" name="userCategory" th:value="${userDTO.userCategory}" required>
    </div>

    <!-- 주소 -->
    <div class="input-group mb-3">
        <label for="userAddress" class="input-group-text">주소</label>
        <input type="text" id="userAddress" name="userAddress" class="form-control" placeholder="주소를 입력하세요"/>
        <button type="button" class="btn btn-outline-dark" onclick="searchAddress()">주소 검색</button>
    </div>

    <!-- MBTI -->
    <div class="input-group mb-3">
        <label for="userMBTI" class="input-group-text">MBTI</label>
        <input type="text" id="userMBTI" name="userMBTI" class="form-control">
    </div>

    <div class="mt-4">
        <div class="float-end">
            <button type="submit" class="btn btn-primary">저장</button>
            <button type="reset" class="btn btn-secondary" onclick="resetForm()">지우기</button>
            <a href="/user/reset/userPw" class="btn btn-return">비밀번호 바꾸기</a>
            <a href="/home" class="btn btn-return">돌아가기</a>
        </div>
    </div>
</form>

<script>
    function resetForm() {
        document.getElementById('updateForm').reset();
    }
</script>

</body>
</html>