<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원정보 수정</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
  <script type="text/javascript">
      // 카카오 주소 API 초기화
      Kakao.init('26cd30a42ec3ae950f6d7b677a47562c'); // 발급받은 카카오 API 키로 교체

      function searchAddress() {
          new daum.Postcode({
              oncomplete: function (data) {
                  var fullAddr = data.address; // 최종 주소 변수
                  document.getElementById('userAddress').value = fullAddr;
              }
          }).open();
      }
  </script>

  <style>
      .btn-outline-info {
          color: #5e9bd2; /* 버튼 텍스트 색상 */
          border-color: #5e9bd2; /* 버튼 테두리 색상 */
      }

      .btn-outline-info:hover {
          color: #fff; /* 버튼 텍스트 색상 (호버 상태) */
          background-color: #5e9bd2; /* 버튼 배경색상 (호버 상태) */
          border-color: #5e9bd2; /* 버튼 테두리 색상 (호버 상태) */
      }

      .btn-success {
          color: #ffffff; /* 버튼 텍스트 색상 */
          background-color: #a2d9ce; /* 버튼 배경색상 */
          border-color: #a2d9ce; /* 버튼 테두리 색상 */
      }

      .btn-success:hover {
          color: #ffffff; /* 버튼 텍스트 색상 (호버 상태) */
          background-color: #7fbf9b; /* 버튼 배경색상 (호버 상태) */
          border-color: #7fbf9b; /* 버튼 테두리 색상 (호버 상태) */
      }

      .form-container {
          max-width: 800px; /* 최대 너비 설정 */
          margin: 0 auto; /* 중앙 정렬 */
      }

      .full-height {
          min-height: 100vh; /* 전체 화면 높이 */
      }
  </style>

</head>

<body>

<div class="container full-height">
  <div class="form-container">
    <form id="updateForm" th:action="@{/user/update}" method="post">
      <input type="text" name="userId" th:value="${userDTO.userId}" hidden aria-label="User ID">

      <!-- 닉네임 -->
      <div class="input-group mb-3">
        <label for="userNickname" class="input-group-text">* 닉네임</label>
        <input type="text" id="userNickname" name="userNickname" class="form-control" th:value="${userDTO.userNickname}"
               placeholder="abc" required>
        <button type="button" class="btn btn-outline-dark" onclick="checkDuplicateUserNickname()">중복확인</button>
      </div>
      <div id="nicknameCheckResult" class="alert" role="alert"></div>

      <!-- 성별 -->
      <div class="input-group mb-3">
        <span class="input-group-text">성별</span>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="userGender" id="male" value="m"
                 th:checked="${userDTO.userGender == 'm'}" required>
          <label class="form-check-label" for="male">남성</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="userGender" id="female" value="w"
                 th:checked="${userDTO.userGender == 'w'}" required>
          <label class="form-check-label" for="female">여성</label>
        </div>
      </div>

      <!-- 이메일 -->
      <div class="mb-3">
        <label for="userEmail" class="form-label">이메일</label>
        <input type="email" id="userEmail" name="userEmail" th:value="${userDTO.userEmail}" class="form-control"
               required>
      </div>

      <!-- 관심사 -->
      <div class="mb-4">
        <label for="userCategory" class="form-label">관심사</label>
        <input type="text" id="userCategory" name="userCategory" class="form-control" placeholder="관심사를 선택하세요" readonly>
      </div>

      <div class="container mb-4">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid justify-content-start">
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="동네친구">#동네친구
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="또래친구">#또래친구
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="성별모임">#성별모임
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="20대 모임">#20대 모임
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="30대 모임">#30대 모임
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="술친구">#술친구</button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="운동">#운동</button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="악기">#악기</button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="그림">#그림</button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="사진">#사진</button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="수집">#수집</button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="노래">#노래</button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="낚시">#낚시</button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="캠핑">#캠핑</button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="국내여행">#국내여행
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="해외여행">#해외여행
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="맛집투어">#맛집투어
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="힐링투어">#힐링투어
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="LOL">#LOL</button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="마인크래프트">#마인크래프트
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="오버워치">#오버워치
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="배틀그라운드">#배틀그라운드
            </button>
            <button class="btn btn-outline-info me-4 category-btn rounded-pill" type="button" value="게임">#게임</button>
          </div>
        </nav>
      </div>

      <!-- 주소 -->
      <div class="input-group mb-3">
        <label for="userAddress" class="input-group-text">주소</label>
        <input type="text" id="userAddress" name="userAddress" class="form-control" placeholder="주소를 입력하세요"/>
        <button type="button" class="btn btn-outline-dark" onclick="searchAddress()">주소 검색</button>
      </div>

      <!-- MBTI -->
      <div class="input-group mb-3">
        <label for="userMBTI" class="input-group-text">MBTI</label>
        <input type="text" id="userMBTI" name="userMBTI" class="form-control">
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-success me-2">저장</button>
          <button type="reset" class="btn btn-secondary me-2" onclick="resetForm()">지우기</button>
          <a href="/user/find/reset-pw" class="btn btn-outline-info me-2">비밀번호 바꾸기</a>
          <a href="/home" class="btn btn-outline-info">돌아가기</a>
        </div>
      </div>
    </form>
  </div>
</div>


<script>
    function resetForm() {
        document.getElementById('updateForm').reset();
    }


    function validateForm() {
        const userNickname = document.getElementById('userNickname').value;
        const userGender = document.querySelector('input[name="userGender"]:checked').value;

        const NicknamePattern = /^[가-힣a-zA-Z0-9]{1,6}$/;

        if (!NicknamePattern.test(userNickname)) {
            alert("닉네임은 6글자까지 가능합니다.");
            return false;
        }

        if (userGender !== "m" && userGender !== "w") {
            alert("성별이 유효하지 않습니다.");
            return false;
        }
        return true;
    }


    function checkDuplicateUserNickname() {
        const userNickname = document.getElementById('userNickname').value;

        $.ajax({
            type: "GET",
            url: "/user/checkUserNicknameDuplicate",
            data: { userNickname: userNickname },
            success: function (response) {
                if (response === true) {
                    $('#nicknameCheckResult').text("닉네임이 중복되었습니다. 다른 닉네임을 사용해주세요.");
                    $('#nicknameCheckResult').removeClass('alert-success').addClass('alert-danger');
                } else {
                    $('#nicknameCheckResult').text("사용 가능한 닉네임입니다.");
                    $('#nicknameCheckResult').removeClass('alert-danger').addClass('alert-success');
                }
                $('#nicknameCheckResult').show();
            },
            error: function () {
                alert("서버와의 통신 중 문제가 발생했습니다. 다시 시도해 주세요.");
            }
        });
        return false; // 폼의 기본 동작을 막습니다.
    }



    document.addEventListener('DOMContentLoaded', function () {
        const categoryButtons = document.querySelectorAll('.category-btn');
        const userCategoryInput = document.getElementById('userCategory');
        let selectedCategories = [];

        categoryButtons.forEach(button => {
            button.addEventListener('click', function () {
                const category = this.value;

                // 카테고리가 이미 선택되었는지 확인
                if (selectedCategories.includes(category)) {
                    // 카테고리 선택 해제
                    this.classList.remove('btn-success');
                    this.classList.add('btn-outline-info');
                    selectedCategories = selectedCategories.filter(item => item !== category);
                } else {
                    // 최대 선택 가능한 카테고리 개수 확인
                    if (selectedCategories.length < 3) {
                        // 카테고리 선택
                        this.classList.remove('btn-outline-info');
                        this.classList.add('btn-success');
                        selectedCategories.push(category);
                    } else {
                        // 최대 개수 초과 시 알림
                        alert('최대 3개의 카테고리까지 선택할 수 있습니다.');
                        return;
                    }
                }

                // 선택된 카테고리 목록을 입력 필드에 표시
                userCategoryInput.value = selectedCategories.join(', ');
            });
        });
    });


</script>

<!-- Bootstrap JavaScript dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>
</html>