<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="content">
  <br>
  <div class="container">
    <form action="/schedule/update" method="post">
      <div class="row">
        <div class="col-4">
          <div class="row-cols-4">
            <h4>일정 사진</h4>

            <img th:if="${#strings.contains(schedulePhoto, 'ScheduleDefaultPhoto')}"
                 src="/assets/ScheduleDefaultPhoto.jpg"  style="width:300px;" alt="Schedule Default Image">
            <img th:unless="${#strings.contains(schedulePhoto, 'ScheduleDefaultPhoto')}"
                 th:src="@{/view/{photo}(photo=${schedulePhoto})}"  style="width:300px;" alt="Schedule Image">

          </div>
          <!--사진등록-->
          <div class="col">
            <!-- 이미지 업로드 YY -->
            <div class="input-group d-grid gap-2 d-md-flex">

              <span class="input-group mb-3"></span>
              <div class="float-end uploadHidden">
                <button type="button" class="btn btn-primary uploadFileBtn">사진 등록하기</button>
              </div>
            </div>

            <!-- Image Thumbnail display -->
            <div class="row mt-3">
              <div class="col ">
                <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-8">
          <div class="row g-3">
            <div class="col-12">
              <label for="title" class="form-label"  style="width: 80px">일정 제목</label>
              <input th:value="${scheduleDTO.scheduleTitle}" name="scheduleTitle" type="text" class="form-control"
                     id="title" th:required="true">
            </div>
            <div class="col-12">
              <label for="datetime" class="form-label"  style="width: 80px">날짜/시간</label>
              <input th:value="${scheduleStartDate}" name="dateTime" type="datetime-local" class="form-control"
                     id="datetime" th:required="true">
            </div>
            <div class="col-12">
              <label for="max" class="form-label"  style="width: 80px">정원</label>
              <input th:value="${scheduleDTO.scheduleMax}" name="scheduleMax" type="number" class="form-control"
                     id="max" min="1" th:max="${countMembers}" th:required="true">
            </div>
            <div class="col-12">
              <label for="sample5_address" class="form-label"  style="width: 90px">장소</label>
              <input th:value="${scheduleDTO.schedulePlace}" name="schedulePlace" type="text" class="form-control"
                     id="sample5_address" placeholder="장소" th:required="true">
              <input type="button" onclick="sample5_execDaumPostcode()" value="장소 검색" class="btn btn-outline-secondary"><br>
            </div>
            <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>

          </div>
        </div>
      </div>
      <div class="row">
        <label for="content" class="form-label">내용</label>
        <textarea th:text="${scheduleDTO.scheduleContent}" name="scheduleContent"
                  style="width: 100%; height: 400px; resize: none" class="form-control" id="content"></textarea>
      </div>
      <button style="float: right; margin-top: 10px;" type="submit" class="btn btn-success submitBtn">수정</button>
      <button style="margin-top: 10px;" type="button" class="btn btn-dark" th:onclick="history.back()">취소</button>
    </form>
  </div>
  <br>


  <!--    upload Modal Part YY -->
  <div class="modal uploadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="file" name="files" accept="image/*"  class="form-control"> <!-- 모임 대표사진 multiple x  -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary uploadBtn">업로드</button>
          <button type="button" class="btn btn-outline-dark closeUploadBtn" data-bs-dismiss="modal">닫기
          </button>

        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</th:block>
<th:block layout:fragment="script">
  <script th:src="@{/js/map.js}"></script>
  <script th:inline="javascript">

      // /*<![CDATA[*/
      // var message = /*[[${message}]]*/ null;
      // if (message) {
      //     alert(message);
      // }
      //
      // /*]]>*/
      function setMinDateTime() {
          const now = new Date();
          const year = now.getFullYear();
          const month = String(now.getMonth() + 1).padStart(2, '0');
          const day = String(now.getDate()).padStart(2, '0');
          const hours = String(now.getHours()).padStart(2, '0');
          const minutes = String(now.getMinutes()).padStart(2, '0');

          const datetimeLocal = `${year}-${month}-${day}T${hours}:${minutes}`;
          document.getElementById('datetime').setAttribute('min', datetimeLocal);
      }
      document.addEventListener('DOMContentLoaded', setMinDateTime);

      //업로드 파일 확장자 검사 0801 YY
      function imageCheck(obj) {
          if(obj){
              const allowedExtensions = ['jpg', 'png', 'jpeg'];
              const fileExtension = obj.name.split('.').pop().toLowerCase();
              console.log(fileExtension)

              if (allowedExtensions.includes(fileExtension)) {
                  return true;
              } else {
                  alert("jpg, png, jpeg 파일만 업로드 가능합니다.");
                  return false;
              }
          }
          return false;

      }


      //이미지 업로드 처리 JS YY
      async function uploadToServer(formObj) {

          console.log("upload to server.....................+formObj")
          console.log(formObj)

          const response = await axios({
              method: 'post',
              url: '/upload',
              data: formObj,
              headers: {
                  'Content-Type': 'multipart/form-data',
              },
          });

          return response.data


      }

      async function removeFileToServer(uuid, extension) {
          const response = await axios.delete(`/remove/${uuid}${extension}`)
          return response.data
      }

      //image upload modal event (show / hide)
      const errors = [[${errors}]]
      console.log(errors)

      let errorMsg = ''
      if (errors) {
          for (let i = 0; i < errors.length; i++) {
              errorMsg += `${errors[i].field} is ${errors[i].code} \n`
          }
          alert(errorMsg) //error message display!
      }

      //upload modal set
      const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))
      document.querySelector(".uploadFileBtn").addEventListener("click", function (e) {
          e.stopPropagation()
          e.preventDefault()
          uploadModal.show()
      }, false)

      //file upload for modal and thumb
      document.querySelector(".uploadBtn").addEventListener("click", function (e) {
          const formObj = new FormData();
          const fileInput = document.querySelector("input[name='files']")

          console.log("fileInput.files--------")
          console.log(fileInput.files)

          const files = fileInput.files
          let imageCheckResult = true;

          for (let i = 0; i < files.length; i++) {

              // 0801 YY 파일 확인 로직
              if(imageCheck(files[i])){
                  formObj.append("files", files[i]); }
              else {
                  imageCheckResult = false;
                  break;
              }

          }
          if(imageCheckResult){

              uploadToServer(formObj).then(result => {
                  console.log("result-------")
                  console.log(result)

                  for (const uploadResult of result) {
                      showUploadFile(uploadResult)
                  }

                  uploadModal.hide()
              }).catch(e => {
                  uploadModal.hide()
              })
          }

      }, false)


      //656p showUploadFile
      const uploadResult = document.querySelector(".uploadResult")

      function showUploadFile({uuid, extension, link}) {

          const str = `<div class="card col-4">
<div class="card-header d-flex justify-content-center">
<button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}','${extension}',this)">X</button>
</div>
<div class="card-body">
<img src="/view/${link}" data-src="${uuid}${extension}" alt="uploadfile image on card body">

</div>
</div>`
          console.log("uploadResult link  str --------------------")
          console.log(link)
          console.log(str)

          uploadResult.innerHTML += str;
      }


      /*<img src="/view/${link}" data-src="${uuid}${extension}" alt="uploadfile image on card body">*/

      //upload remove,, local file and div card all deleted
      function removeFile(uuid, extension, obj) {
          console.log("remove file log--------------")
          console.log(uuid)
          console.log(extension)
          console.log(obj)

          const targetDiv = obj.closest(".card")
          removeFileToServer(uuid, extension).then(data => {
              targetDiv.remove()
          })

      }

      // After Image, finally Article Form Submitted !!
      document.querySelector(".submitBtn").addEventListener("click", function (e) {
          console.log("submitBtn start----------------")

          e.preventDefault()
          e.stopPropagation()

          const target = document.querySelector(".uploadHidden")

          const uploadFiles = uploadResult.querySelectorAll("img")
          console.log("---------uploadFile select img")

          let str = ''

          for (let i = 0; i < uploadFiles.length; i++) {
              const uploadFile = uploadFiles[i]
              console.log("uploadFile in for loop")
              console.log(uploadFile)
              const imgLink = uploadFile.getAttribute("data-src")
              //
              // str += `<input type='hidden' name='clubPhotoFileName' value="${imgLink}">`

              const imgUUID = imgLink.split('.')[0] // Extract the UUID part by splitting at the '.' and taking the first part

              str += `<input type='hidden' name='schedulePhotoUUID' value="${imgUUID}">`


          }

          // document.querySelector("form").submit();

          const formObj = document.querySelector("form")

          // 필수 항목 입력 검사 로직
          function validateForm() {
            const scheduleTitle = document.querySelector("input[name='scheduleTitle']").value.trim();
            const dateTime = document.querySelector("input[name='dateTime']").value.trim();
            const scheduleMax = document.querySelector("input[name='scheduleMax']").value.trim();
            const schedulePlace = document.querySelector("input[name='schedulePlace']").value.trim();
            const scheduleContent = document.querySelector("textarea[name='scheduleContent']").value.trim();

            if (!scheduleTitle || !dateTime || !scheduleMax || !schedulePlace || !scheduleContent) {
              alert("모든 내용을 입력해 주세요.");
              return false;
            }
            return true;
          }

          if (validateForm()){

              console.log(str)
              target.innerHTML = str;


              formObj.submit();
            formObj.reset();
          }
      }, false)


      // upload modal close btn
      document.querySelector(".closeUploadBtn").addEventListener("click", function (e) {

          e.stopPropagation()
          e.preventDefault()

          uploadModal.hide();

      }, false)
  </script>
</th:block>