<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" th:onclick="|location.href='@{/club/main/{clubNo}(clubNo =${scheduleDTO.clubNo.clubNo})}'|">모임 홈</button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="col-3" > <!-- 일정 이미지 출력 -->



                    <img th:if="${#strings.contains(schedulePhoto, 'ScheduleDefaultPhoto')}"
                         src="/assets/ClubDefaultPhoto.jpg"  style="width:300px;" >
                    <img th:unless="${#strings.contains(schedulePhoto, 'ScheduleDefaultPhoto')}"
                         th:src="@{/view/{photo}(photo=${schedulePhoto})}"  style="width:300px;" >
<!--                    <img th:src="@{/view/{fileName}(fileName=${schedulePhoto})}" alt="schedule image">-->
<!--                    <img th:src="@{/view/{fileName}(fileName=${schedulePhoto})}" alt="schedule image">-->

                </div>
            </div>

            <div class="col-8">
                <div class="row g-3">
                    <div class="col-12">
                        <h1 th:text="${scheduleDTO.scheduleTitle}"></h1>
                    </div>
                    <div class="col-12">
                        <p th:text="${#dates.format(scheduleDTO.scheduleStartDate, 'yyyy년 MM월 dd일 HH:mm')}"></p>
                    </div>
                    <div class="col-12">
                        <!-- 지도  -->
                        <div id="map" style="width:500px;height:400px;margin-top:10px;"></div>
                        <p  type="text" id="copyTxt" th:text="${scheduleDTO.schedulePlace}"></p>
                        <button onclick="copyText()">복사하기</button>
                    </div>
                    <div class="col-12">
                    </div>
                </div>
            </div>
        </div>
        <h2 style="display: inline">참여 중인 맴버</h2>
        <span th:text="|${scheduleDTO.scheduleParticipants} / ${scheduleDTO.scheduleMax}|"></span>
        <div class="row">
            <table>
                <tr>
                    <th>
                        사진
                    </th>
                    <th>
                        닉네임
                    </th>
                    <th>
                        거주지
                    </th>
                </tr>
                <tr th:each="user : ${userDTOList}">
                    <td>사진 자리</td>
                    <td th:text="${user.userNickname}"></td>
                    <td th:text="${user.userAddress}"></td>
                </tr>
            </table>
        </div>
        <div class="row" th:unless="${currentTime} > ${scheduleDTO.scheduleStartDate}">
            <div th:if="${isScheduleFull} and ${isParticipant != 2}"> <!--일정 인원이 마감이고 이미 참가한 회원이 아닐 때-->
                <button class="btn btn-dark">마감</button>
            </div>
            <div th:if="${isParticipant == 0} and ${!isScheduleFull}"> <!--일정 인원이 마감되지 않고 아직 참가하지 않은 회원일 때-->
                <button class="btn btn-primary join" th:onclick="|location.href='@{/schedule/join}'|">참가</button>
            </div>
            <div th:if="${isParticipant == 2}">
                <button class="btn btn-danger leave" th:onclick="|location.href='@{/schedule/leave}'|">취소</button>
            </div>
        </div>
        <div class="row" th:if="${currentTime} > ${scheduleDTO.scheduleStartDate}">
            <div th:if="${isParticipant != 2}"> <!--일정 인원이 마감이고 이미 참가한 회원이 아닐 때-->
                <button class="btn btn-dark">마감</button>
            </div>
            <div th:if="${isParticipant != 2}"> <!--일정 인원이 마감이고 이미 참가한 회원이 아닐 때-->
                <button class="btn btn-dark" th:onclick="|location.href='@{/article/create(scheduleNo=${scheduleDTO.scheduleNo})}'|">후기 작성</button>
            </div>
        </div>
        <div class="row">
            <textarea th:text="${scheduleDTO.scheduleContent}" style="width: 100%; height: 400px; resize: none"
                      class="form-control" id="content" readonly></textarea>
        </div>
        <div class="row" th:if="${isParticipant == 1}"> <!--일정 주최자일 때-->
            <div class="col-10">
            </div>
            <div class="col-2">
                <button class="btn btn-success modify" th:onclick="|location.href='@{/schedule/update}'|">수정</button>
                <button class="btn btn-danger delete" th:onclick="|location.href='@{/schedule/delete}'|">삭제</button>
            </div>
        </div>
    </div>

    <!--    reply 댓글 작성 폼 부분-->
    <div class="container">
        <div class="row">
            <form id="scheduleReplyForm" action="/reply/create" method="post">
                <div>
                    <label for="replyContent">Reply Content:</label>
                    <textarea id="replyContent" name="replyContent" required></textarea>
                </div>
                <div>
                    <button class="btn btn-outline-primary" type="submit">댓글 등록</button>
                </div>
                <input type="hidden" name="scheduleNo.scheduleNo" th:value="${scheduleDTO.scheduleNo}">


            </form>
        </div>
    </div>
    <div class="container"> <!-- 댓글 출력 부분 YY -->
        <div class="row">
            <div class="reply" th:each="reply : ${replyList}">
                <hr>
                <span th:text="${reply.getReplyContent()}"></span>
                <span th:text="'작성일 : ' + ${#dates.format(reply.getReplyCreateDate(), 'yy-MM-dd HH:mm')}"></span>
                <span th:text="'좋아요 수 : ' + ${reply.getReplyLikeNumber()}"></span>
                <span>작성자필요<!--TODO--></span>
                <!-- <button class="btn btn-outline-success modifyBtn">수정하기</button> -->
                <form id="replyDeleteForm" action="/reply/delete" method="post">
                    <input type="hidden" name="replyNo" th:value="${reply.getReplyNo()}"/>
                    <button type="submit" class="btn btn-outline-danger deleteBtn">삭제하기</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${message}]]*/ null;
    if (message) {
    alert(message);
    }

    var address = /*[[${scheduleDTO.schedulePlace}]]*/ '';
    /*]]>*/


    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(address, function(result, status) {

    // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

    // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });

    function copyText() {
        var copyTxt = document.getElementById("copyTxt").innerText;
        navigator.clipboard.writeText(copyTxt).then(function() {
            alert('주소가 복사되었습니다.');
        });
    }
</script>
</th:block>