<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <style>
        .scrollable-content {
            height: 100vh;
            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        .scrollable-content::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .user-info {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
        }

        .user-info p {
            margin-left: 1rem;
            margin-bottom: 0;
        }

        .tag {
            border: solid 0.5px;
        }

        .input-group-text {
            display: flex;
            align-items: center;
        }

        .icon {
            width: 20px;
            height: 20px;
            margin: 0 5px;
        }

        #replyContent {
            margin-right: 10px;
        }

        .btn-outline-primary {
            margin-left: 10px;
        }

        .input-group-text img {
            width: 20px;
            height: 20px;
            margin-right: 8px; /* Space between icon and text */
        }
    </style>

    <div class="container" style="width: 60rem; height: 100vh; align-items: center;">
        <div class="row" style="margin-top: 1.5rem;">
            <div class="col-2">
                <a th:href="@{/club/main/{clubNo}(clubNo =${scheduleDTO.clubNo.clubNo})}">
                    <img src="/assets/모임홈.png" style="width: 1.2rem; margin-left: 0.5rem">
                </a>
            </div>
            <div class="col-10"></div>
        </div>
        <div class="row" th:each="userDTO, iterStat : ${userDTOList}" th:if="${iterStat.count <= 1}"
             style="margin-top: 2rem;">
            <div class="col-10 member-container"> <!-- 작성자 정보 -->
                <img th:if="${#strings.contains(userDTO.userPhotoStr, 'UserDefaultPhoto')}" class="profile-image"
                     src="/assets/UserDefaultPhoto.png"
                     style="width: 5rem; height: 5rem; object-fit: cover;">

                <img th:unless="${#strings.contains(userDTO.userPhotoStr, 'UserDefaultPhoto')}" class="profile-image"
                     th:src="@{/view/{photo}(photo=${userDTO.userPhotoStr})}"
                     style="width: 5rem; height: 5rem; object-fit: cover;">
                <div class="member-info">
                    <h5>
                        <a th:href="@{/user/profile/{userId}(userId=${userDTO.userId})}"
                           th:text="${userDTO.userNickname}"></a>
                    </h5>
                    <p th:text="${userDTO.userAddress}"></p>
                </div>
            </div>
            <div class="col-2" th:if="${isParticipant == 1}" style="float: right; margin-top: 3rem;">
                <button class="btn btn-success modify" th:onclick="|location.href='@{/schedule/update}'|">수정</button>
                <button class="btn btn-danger delete" th:onclick="|location.href='@{/schedule/delete}'|">삭제</button>
            </div>
        </div>
        <hr>
        <div class="row" style="height: 50rem;">
            <div class="col-5 d-flex flex-column" style="padding: 2rem; height: 50rem;">
                <div class="mb-3">
                    <div class="row" style="margin-top: 1rem;">
                        <h4>일정시간</h4>
                        <p th:text="${#dates.format(scheduleDTO.scheduleStartDate, 'yyyy년 MM월 dd일 HH:mm')}"></p>
                        <h4>장소</h4>
                        <div id="map"
                             style="width: 100%; height: 20rem; margin-bottom: 1rem; border-radius: 10%;"></div>
                        <div>
                            <p type="text" id="copyTxt" th:text="${scheduleDTO.schedulePlace}"
                               style="display: inline-block"></p>
                            <img src="/assets/copy.png" onclick="copyText()"
                                 style="cursor: pointer; width: 16px; height: 16px">
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2" style="margin-top: 1rem">
                    <div class="row" th:unless="${currentTime} > ${scheduleDTO.scheduleStartDate}">
                        <div th:if="${isScheduleFull} and ${isParticipant != 2}"> <!--일정 인원이 마감이고 이미 참가한 회원이 아닐 때-->
                            <button class="btn btn-dark py-3" style="width: 100%">마감</button>
                        </div>
                        <div th:if="${isParticipant == 0} and ${!isScheduleFull}"><!--일정 인원이 마감되지 않고 아직 참가하지 않은 회원일 때-->
                            <button class="btn btn-primary join py-3" th:onclick="|location.href='@{/schedule/join}'|"
                                    style="width: 100%">참가
                            </button>
                        </div>
                        <div th:if="${isParticipant == 2}">
                            <button class="btn btn-danger leave py-3" th:onclick="|location.href='@{/schedule/leave}'|"
                                    style="width: 100%">취소
                            </button>
                        </div>
                    </div>

                    <div class="row" th:if="${currentTime} > ${scheduleDTO.scheduleStartDate}">
                        <div th:if="${isParticipant == 0}"> <!--일정 인원이 마감이고 이미 참가한 회원이 아닐 때-->
                            <button class="btn btn-dark py-3" style="width: 100%">마감</button>
                        </div>
                        <div th:if="${isParticipant != 0}"> <!--일정 인원이 마감이고 이미 참가한 회원이 아닐 때-->
                            <button class="btn btn-dark py-3" style="width: 100%"
                                    th:onclick="|location.href='@{/article/create(scheduleNo=${scheduleDTO.scheduleNo})}'|">
                                후기 작성
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7 scrollable-content" style="padding: 2rem; height: 50rem;">
                <div class="row" style="margin: 0 0.5rem;">
                    <h1 th:text="${scheduleDTO.scheduleTitle}" style="font-size: 2rem;"></h1>
                </div>
                <div class="row"
                     style="width: 100%; padding-top: 75%; position: relative; overflow: hidden; margin: 0;">
                    <img th:if="${#strings.contains(schedulePhoto, 'ScheduleDefaultPhoto')}"
                         src="/assets/ScheduleDefaultPhoto.jpg"
                         style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; border-radius: 5%;">
                    <img th:unless="${#strings.contains(schedulePhoto, 'ScheduleDefaultPhoto')}"
                         th:src="@{/view/{photo}(photo=${schedulePhoto})}"
                         style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; border-radius: 5%;">
                </div>
                <div class="row">
                    <div style="width: 100%;">
                        <p th:text="${scheduleDTO.scheduleContent}" class="form-control" id="content"
                           style="border: none;">
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-5">
                        <h3 style="display: inline-block">참여 중인 맴버</h3>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <p style="margin-top: 0.5rem;" th:text="|${scheduleDTO.scheduleParticipants} / ${scheduleDTO.scheduleMax}|"></p>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="padding: 0 1rem">
                    <div class="col-2" th:each="user : ${userDTOList}">
                        <div style="margin: 0 0.3rem;">
                            <img th:if="${#strings.contains(user.userPhotoStr, 'UserDefaultPhoto')}" class="profile-image"
                                 src="/assets/UserDefaultPhoto.png" style="width: 3rem; height:3rem;">
                            <img th:unless="${#strings.contains(user.userPhotoStr, 'UserDefaultPhoto')}"
                                 class="profile-image"
                                 th:src="@{/view/{photo}(photo=${user.userPhotoStr})}" style="width: 3rem; height:3rem;">
                        </div>
                        <div style="margin: auto">
                            <a th:href="@{/user/profile/{userId}(userId=${user.userId})}">
                                <p class="text-center" th:text="${user.userNickname}">닉네임</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"> <!-- 댓글 입력창 부분 -->


            <form id="articleReplyForm" action="/reply/create" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="replyContent">
                            <img src="https://img.icons8.com/?size=100&id=ncVupLQ_3azP&format=png&color=000000"
                                 alt="Icon 1" class="icon" width="20" height="20">
                            댓글 내용 입력
                            <img src="https://img.icons8.com/?size=100&id=v2Yg7p5PLAXO&format=png&color=000000"
                                 alt="Icon 2" class="icon" width="20" height="20">
                        </label>
                    </div>
                    <textarea id="replyContent" name="replyContent" rows="1" class="form-control"></textarea>
                    <input type="hidden" name="scheduleNo.scheduleNo" th:value="${scheduleDTO.scheduleNo}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">댓글 등록</button>
                    </div>
                </div>
            </form>


        </div>

        <!-- 댓글 표시 부분 -->
        <div class="reply" th:each="reply : ${replyList}">
            <div class="row">
                <hr>
                <!--                    <span th:text="'좋아요 수 : ' + ${reply.getReplyLikeNumber()}"></span>-->
                <span> <!-- 댓글 작성자 이미지 -->
          <a th:href="@{/user/profile/{userId}(userId=${reply.userNo.getUserId()})}"
             th:text="${reply.getWriter}"></a>

    <img style="width: 30px; height: auto" th:if="${#strings.contains(reply.getWriterPhotoStr(), 'UserDefaultPhoto')}"
         class="profile-image"
         src="/assets/UserDefaultPhoto.png">


    <img style="width: 30px; height: auto"
         th:unless="${#strings.contains(reply.getWriterPhotoStr(), 'UserDefaultPhoto')}" class="profile-image"
         th:src="@{/view/{photo}(photo=${reply.getWriterPhotoStr()})}">

                                            <span style="font-size: 14px; color: #4d5154"
                                                  th:text="${#dates.format(reply.getReplyCreateDate(), 'yy-MM-dd HH:mm')}"></span>


          </span>
            </div>

            <div class="row">
                <div class="col left" style="text-align: left">
                    <span th:text="${reply.getReplyContent()}"></span>

                </div>
                <div class="col right" style="text-align: right">
                    <form id="replyDeleteForm" action="/reply/delete" method="post">
                        <input type="hidden" name="replyNo" th:value="${reply.getReplyNo()}"/>
                        <button type="submit" class="btn btn-outline-danger deleteBtn">삭제하기</button>
                        <!-- <button class="btn btn-outline-success modifyBtn">수정하기</button> -->

                    </form>
                </div>

            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var message = /*[[${message}]]*/ null;
        if (message) {
            alert(message);
        }

        var address = /*[[${scheduleDTO.schedulePlace}]]*/ '';
        /*]]>*/


        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(address, function (result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });
                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });

        function copyText() {
            var copyTxt = document.getElementById("copyTxt").innerText;
            navigator.clipboard.writeText(copyTxt).then(function () {
                alert('주소가 복사되었습니다.');
            });
        }
    </script>
</th:block>

