<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<header class="bg-light py-2">
    <div class="container d-flex justify-content-between align-items-center">
        <h6 th:text="${logoText}">momo</h6>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark">회원관리</button>
            <button type="button" class="btn btn-light">게시판 관리</button>
            <button type="button" class="btn btn-danger">신고하기</button>
        </div>
    </div>
</header>
<table class="container">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid d-flex flex-column align-items-center">
            <a class="navbar-brand">회원 관리</a>
        </div>
    </nav>
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">아이디</th>
        <th scope="col">닉네임</th>
        <th scope="col">가입 날짜</th>
        <th scope="col">가입승인</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>money0241</td>
        <td>말랑이</td>
        <td>2024-06-17</td>
        <td>O</td>
    </tr>
    <tr>
        <td>2</td>
        <td>money1234</td>
        <td>멀랑이</td>
        <td>2024-06-17</td>
        <td>O</td>
    </tr>
    <tr>
        <td>3</td>
        <td>money5678</td>
        <td>구랑이</td>
        <td>2024-06-17</td>
        <td>O</td>
    </tr>
    <tr>
        <td>4</td>
        <td>money1111</td>
        <td>배랑이</td>
        <td>2024-06-17</td>
        <td>O</td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>

        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>

</nav>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex flex-column align-items-center">
        <a class="navbar-brand">게시판 관리</a>
    </div>
</nav>
<table class="container">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">글제목</th>
        <th scope="col">아이디</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>test01</td>
        <td>test0000</td>
        <td>말랑이</td>
        <td>2024-06-17</td>
    </tr>
    <tr>
        <td>1</td>
        <td>test01</td>
        <td>test0000</td>
        <td>말랑이</td>
        <td>2024-06-17</td>
    </tr>
    <tr>
        <td>1</td>
        <td>test01</td>
        <td>test0000</td>
        <td>말랑이</td>
        <td>2024-06-17</td>
    </tr>
    <tr>
        <td>1</td>
        <td>test01</td>
        <td>test0000</td>
        <td>말랑이</td>
        <td>2024-06-17</td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>

        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>

</nav>
</body>
</html>