<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title><!-- 스타일시트 경로 -->
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{home}">Home</a></li>
            <li th:if="${#authentication.name == 'anonymousUser'}">
                <a th:href="@{/user/login}">Login</a>
            </li>
            <li th:if="${#authentication.name == 'anonymousUser'}">
                <a th:href="@{/user/join}">Join</a>
            </li>
            <li th:unless="${#authentication.name == 'anonymousUser'}">
                <a th:href="@{/user/logout}">Logout</a>
            </li>
            <li th:unless="${#authentication.name == 'anonymousUser'}">
                <a th:href="@{/user/editProfile}">회원정보 수정</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <h1> MOMO</h1>
    <p th:if="${#authentication.name == 'anonymousUser'}">여기는 홈 페이지입니다. 로그인을 하거나 회원가입을 할 수 있습니다.</p>
    <p th:unless="${#authentication.name == 'anonymousUser'}">반갑습니다</p>
</main>

<footer>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
</footer>
</body>
</html>