<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<th:block layout:fragment="content">

  <br>
  <div class="container">
    <!-- 로그인한 사용자에게만 보이는 부분 -->
    <div class="row" th:if="${userNickname}">
      <p th:text="${userNickname + '님 어서오세요!'}">userNickname님 어서오세요!</p>
    </div>
  </div>

  <h2>나의 모임</h2>
  <div class="row">

    <div th:if="${myClubDTOList!=null && myClubDTOList.size()>0}"
         th:with="myMaxIndex=${#lists.size(myClubDTOList) - 1}">
      <div class="col-3" th:each="i : ${#numbers.sequence(0, myMaxIndex)}">

        <div class="card mb-3" style="max-width: 415px;">
          <div class="row g-0">


            <div class="col-md-4">

              <img th:if="${#strings.contains(myClubPhotoList[i], 'ClubDefaultPhoto')}" class="card-img-top"
                   src="/assets/ClubDefaultPhoto.jpg">

              <img th:unless="${#strings.contains(myClubPhotoList[i], 'Default')}" class="card-img-top"
                   th:src="@{/view/{photo}(photo=${myClubPhotoList[i]})}">

            </div>


            <div class="col-md-8">
              <div class="card-body">
                <a th:href="@{/club/main/{clubNo}(clubNo = ${myClubDTOList[i].clubNo})}"
                   th:inline="text">
                  <h3 class="card-title" th:text="${myClubDTOList[i].clubName}"></h3>
                </a>
                <p class="card-text" th:text="${myClubDTOList[i].clubContent}"></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div>
      <button th:unless="${#authentication.name == 'anonymousUser'}"
              th:onclick="|location.href='@{/club/create}'|">생성
      </button>
    </div>
  </div>
  <div class="row-cols-auto">

    <div th:if="${ clubDTOList.size()>0}" th:with="maxIndex=${#lists.size(clubDTOList) - 1}">
      <div th:each="i : ${#numbers.sequence(0, maxIndex)}">
        <div class="card mb-3" style="max-width: 415px;">
          <div class="row g-0">

            <div class="col-md-4">

              <img th:if="${#strings.contains(clubPhotoList[i], 'ClubDefaultPhoto')}" class="card-img-top"
                   src="/assets/ClubDefaultPhoto.jpg">

              <img th:unless="${#strings.contains(clubPhotoList[i], 'Default')}" class="card-img-top"
                   th:src="@{/view/{photo}(photo=${clubPhotoList[i]})}">

            </div>

            <div class="col-md-8">
              <div class="card-body">
                <a th:href="@{/club/main/{clubNo}(clubNo = ${clubDTOList[i].clubNo})}" th:inline="text">
                  <h3 class="card-title" th:text="${clubDTOList[i].clubName}"></h3>
                </a>
                <p th:text="${clubDTOList[i].clubContent}"></p>
              </div>
            </div>

          </div>
        </div>
    </div>
    </div>
  </div>
</th:block>