<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <button th:text="${clubDTO.clubArea}"></button>
            </div>
            <div class="col-2">
                <button th:text="${clubDTO.clubCategory}"></button>
            </div>
            <div class="col-2">
                <button th:text="${countMembers} + 명"></button>
            </div>
        </div>
        <div class="row">
            <div>
                <h1 th:text="${clubDTO.clubName}"></h1>
            </div>
        </div>
        <div class="row">
            <div>
                <h2>소개</h2>
                <textarea th:text="${clubDTO.clubContent}" style="width: 100%; height: 400px; resize: none" readonly></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <h2>모임장</h2>
            <table>
                <tr>
                    <td>사진 자리</td>
                    <td>
                        <h4><a th:href="@{/user/profile/{userId}(userId=${isLeader.userNo.userId})}"
                           th:text="${isLeader.userNo.userNickname}">닉네임</a>
                        </h4>
                    </td>
                    <td th:text="${isLeader.userNo.userMBTI}"></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <h2>맴버</h2>
            <p th:if="${#lists.isEmpty(userAndClubDTOS)}">등록된 모임원이 없습니다.</p>
            <table>
                <tbody th:unless="${#lists.isEmpty(userAndClubDTOS)}">
                <tr th:each="member : ${userAndClubDTOS}">
                    <td>
                    <a th:href="@{/user/profile/{userId}(userId=${member.userNo.userId})}"
                           th:text="${member.userNo.userNickname}">닉네임</a>
                    </td>
                </tbody>
            </table>
        </div>
        <div>
            <button th:onclick="|location.href='/club/join'|" th:if="${isMember == 0} and not ${#authentication.name == 'anonymousUser'}">가입 신청</button>
            <button th:onclick="|location.href='/user/login'|" th:if="${#authentication.name == 'anonymousUser'}">가입 신청</button>
            <button th:unless="${isMember == 0}">가입 신청이 완료 되었습니다.</button>
        </div>
     </div>
</th:block>